// all fonts:
// 1. font-family: 'Lato', sans-serif;
// 2. Deftone Stylus
@font-face {
    font-family: Deftone Stylus;
    src: url(../fonts/deftone_stylus.ttf);
}

.wrapper {
    display: flex;
    background-color: #f0f0f0;
    // global font-size
    font-size: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    margin-left: 75px;
}

// scroll style
// ================================================================================== 
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* handle */
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(top, #fc7858 0%, #fd4e75 100%); 
}
// end scroll
// ================================================================================== 
