@mixin hover-botton {
    transition: all 200ms ease;
    transform: scale(1.06);
    box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.7);
}

@mixin gradient-text {
    background: linear-gradient(to right,#fd4e75, #fc7858 ); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
}

@mixin purple-gradient-text {
    background: linear-gradient(-30deg, #8841af 0%, #708ae6 100%);
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
}

@mixin title-card {
    color: #777777;
    font-family: Lato;
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}

@mixin card-text {
    color: #bfbfbf;
    font-family: Lato;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 15px;
}

