.nav {
    width: 75px;
    height: 100vh;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    background: linear-gradient(top, #fd4e75 0%, #fc7858 100%);
    -webkit-background-clip: padding-box;
}

// разобраться с высотой
.nav-body {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-logo {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    padding: 18px;
    padding-top: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.nav-logo__letter {
    font-family: Deftone Stylus;
    text-transform: uppercase;
    font-size: 30px;
    background: linear-gradient(top, #fd4e75 0%, #fc7858 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__list {
    padding-top: 15px;
}

.nav__item {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    padding-top: 45px;
    text-align: center;
}

.nav__link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.nav__item_home {
    background: url(../img/backgronds/navigation/home.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.nav__item_statistics {
    background: url(../img/backgronds/navigation/statistics.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.nav__item_users {
    background: url(../img/backgronds/navigation/user.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.nav__item_settings {
    background: url(../img/backgronds/navigation/settings.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.nav__item_quires {
    background: url(../img/backgronds/navigation/quires.png);
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.nav__power-button {
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    background: url(../img/backgronds/navigation/power-button.png);
    background-repeat: no-repeat;
    background-position: center;
}

.nav__item:hover {
    transition: all 200ms ease;
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
    transform: scale(1.06);
    box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.7);
}

.nav__power-button:hover {
    transition: all 200ms ease;
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
    transform: scale(1.06);
    box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.7);
}


