.statistics-tab {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
}

.statistics-tab__item {
    margin-top: 20px;
    text-align: center;
}

.statistics-tab__title {
    @include title-card;
    font-size: 1.3em;
    margin-bottom: 9px;
}

.statistics-tab__amount {
    font-family: Lato;
    font-size: 2em;
    font-weight: 700;
    @include gradient-text;
}

.statistics-tab__value {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: 80px;
    color: #bfbfbf;
    font-family: Lato;
    font-size: 1.2em;
    font-weight: 700;
}

.statistics-tab__item_add_statistics {
    padding-top: 25px;
    font-family: Lato;
    font-size: 1.2em;
    font-weight: 700;
    @include gradient-text;
}

.statistics-tab__count_up:before {
    top: 10px;
    left: -2px;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #A889E9 transparent;
}

.statistics-tab__count_down:before {
    top: 10px;
    left: 38px;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px 2.5px 0 2.5px;
    border-color: #FD5670 transparent transparent transparent;
}